/* page 1 */

html, body{
    padding: 0;
    margin: 0;
    background: white;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    height: 100vh;
}

nav{
    position: fixed;
    z-index: 100;
    display: flex;
    background-color: white;
    align-items: center;
    height: 10vh;
    width: 100vw;
    box-shadow: 0px 0px 4px black;
    font-size:x-large;
    font-weight: 500;
}

.restaurant-logo{
    display: flex;
    justify-content: center;
    width: 50vw;
    border-width: 5px;
    color: grey;
}

.restaurant-logo:hover, .restaurant-logo:active .restaurant-logo:visited{
    color: rgb(52, 139, 52);
}

.navlinks{
    width: 50vw;
}

.navlinks ul{
    display:inline-flex;
    align-items: center;
    list-style: none;
    width:80%;
    padding: 0%;
}

.navlinks li{
    width:50%;
}

.navlinks ul li a{
    text-decoration: none;
    color: grey;
}

.navlinks ul li a:hover, .navlinks ul li a:active{
    color: rgb(52, 139, 52);
    font-size: large;
}

.page-1-body{
    display: inline-flex;
    align-items: center;
    margin-top: 40px;
    height: 90vh;
}

.left-div{
    display: grid;
    position: relative;
    left: 20%;
    width: 50vw;
    align-content: center;
    justify-content: start;
}

.left-div h1{
    margin: 10px 0px;
    font-size: 5vw;
    color: rgb(52, 139, 52);
}

.left-div h3{
    font-size: 2vw;
}

.menu-button{
    max-width: fit-content;
    display: inline-block;
    padding: 20px;
    color: white;
    background-color: rgb(52, 139, 52);
    text-decoration: none;
    border-radius: 8px;
}

.menu-button:hover{
    background-color: rgb(17, 85, 42)
}

.right-div{
    width: 50vw;
}

.right-div img{
    height: 80%;
    width: 70%
}

/* page 2 */

.page-2-body{
    display: inline-flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 0px;
}

.page-2-left-div{
    align-items: center;
    height: 100%;
    width: calc((50/100) * 100vw);
}

.page-2-left-div img{
    position: relative;
    top: 20%;
    left: 10%;
    height: 60%;
    width: 60%;
    border-radius: 8px;
    overflow: hidden;
}

.page-2-right-div{
    display: inline-block;
    position: relative;
    align-items: center;
    height: 50%;
    width: calc((30/100) * 100vw);
}
.page-2-right-div h3{
    color: rgb(52, 139, 52);
}

.page-2-right-div h1{
    font-size: 2.5rem;
}

.page-2-right-div h2{
    color: rgb(94, 97, 94);
}

.page-2-right-div h2:hover{
    color: rgb(45, 46, 45);
}

.history-button{
    max-width: fit-content;
    display: inline-block;
    padding: 20px;
    color: white;
    background-color: rgb(52, 139, 52);
    text-decoration: none;
    border-radius: 8px;
}

.history-button:hover{
    background-color: rgb(17, 85, 42)
}


/* page 3 */

.page-3-body{
    height: 70vh;
    width: 100vw;
    margin: 0;
    display: inline-block;
}

.offering{
    padding: 0px;
    display: grid;
    justify-content: center;
    position: relative;
    margin-top: 10%;
}
.offering h2{
color: rgb(52, 139, 52);
justify-self: center;
margin-bottom: 0px;
}

.offering h1{
    font-size: 3rem;
    margin-top: 4%;
    margin-bottom: 10%;
}

.service-container{
    height: 60%;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.excellent-food, .fast-food, .delivery{
    height: 60%;
    width: 25%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.excellent-food img, .fast-food img, .delivery img{
    justify-self: center;
    width: 30%;
    height: 70px;
}

.excellent-food h1, .fast-food h1, .delivery h1{
    justify-self: center;
    color: rgb(52, 139, 52);
    margin: 4% 0% ;
}

.excellent-food h3, .fast-food h3, .delivery h3{
    display: grid;
    justify-self:center;
    align-self: center;
    margin: 0%;
}

/* page 4 */

.special{
    display: grid;
    justify-content: center;
    margin-bottom: 3%;
}

.special h1, .special h3{
    justify-self: center;
}
.special h3{
    margin-bottom: 5px;
    font-size: xx-large;
    color: rgb(52, 139, 52);
}

.special h1{
    font-size: 3rem;
    margin-top: 5px;
}

.grid-container{
    margin-bottom: 10%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 5%;
}

.flex-container{
    height: 100%;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10%;
}

.food-item{
    height: 100%;
    width: 20vw;
    display: grid;
    border-radius: 3%;
    box-shadow: 0px 1px 2px gray;
}

.food-item img{
    height: 90%;
    width: 80%;
    margin-top: 10px;
    display: grid;
    justify-self: center;

}
.food-item h5,.food-item h3{
    display: block;
    margin: 3px 10px;
    justify-self: start;
}

.food-item h5{
    color: grey;
}

/* Page 5 */
.flex-container-1{
    width: 100vw;
    height: 50vh;
    display: Flex;
    justify-content: center;
    align-items: center;
}
.contact-us{
    width: 40%;
    height: 90%;
    position: relative;
    top: 15%;
    right: 10%;
}

.contact-us h3{
    color: rgb(52, 139, 52);
}

.contact-us h4{
    color: grey;
}

.contact-us h1{
    font-size: 3rem;
}

.contact-button{
    position: relative;
    top: 10%;
}

.contact-button a{
    text-decoration-line : none !important;
    text-decoration-color: white !important;
    font-size: large;
    max-width: fit-content;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: rgb(52, 139, 52);
    border-radius: 8px;
}

.contact-button a:hover{
    background-color: rgb(17, 85, 42)
}

.flex-container-2{
    margin-top: 10%;
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10%;
}
.socials img{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 6px;
}

.socials h2{
    color: rgb(52, 139, 52);
}

.socials, .services, .information, .address{
    display: block;
    justify-self: center;
}

.socials h3, .services h3, .information h3, .address h3{
    color: grey;
}