<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Page 2</title>
</head>
<body>
    <Nav>
        <div class="restaurant-logo">
           Tasty 
        </div>
        <div class="navlinks">
            <ul>
                <li><a href="./Page 1.html">Home</a></li>
                <li><a href="./Page 2.html">About</a></li>
                <li><a href="./Page 3.html">Services</a></li>
                <li><a href="./Page 4.html">Menu</a></li>
                <li><a href="./Page 5.html">Contact us</a></li>
            </ul>
        </div>
    </Nav>
    <div class="page-2-body">
        <div class="page-2-left-div">
            <img src="../static/about.jpg" alt="">
        </div>
        <div class="page-2-right-div">
            <h3>About us</h3>
            <h1>We cook the best Tasty Food.</h1>
            <h2>We cook the best food in the entire city, with excellent customer service, and the best meals at the best price. Visit us.</h2>
            <a class="history-button" href="#">Explore History</a>
        </div>
    </div>
    
</body>
</html>