<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Page 5</title>
</head>
<body>
    <section id ="section-5">
        <div class="flex-container-1">
            <div class="contact-us">
                <h3>Lets talk</h3>
                <h1>Contact us</h1>
                <h4>If you want to reserve a table in our restaurant, contact us, and we will attend to you quickly with our 24/7 chat service.</h4>
            </div>
            <div class="contact-button">
                <a href="#">Contact us now</a>
            </div>
        </div>
        <div class="flex-container-2">
            <div class="socials">
                <h2>Tasty Food</h2>
                <h3>Restaurant</h3>
                <a href="http://facebook.com"><img src="../static/icons8-facebook-50.png" alt="Image link to facebook account"></a>
                <a href="http://instagram.com"><img src="../static/icons8-instagram-50.png" alt="Image link to facebook account"></a>
                <a href="http://twitter.com"><img src="../static/icons8-twitter-50.png" alt="Image link to facebook account"></a>
            </div>
            <div class="services">
                <h2>Services</h2>
                <h3>Delivery</h3>
                <h3>Pricing</h3>
                <h3>Fastfood</h3>
                <h3>Reservations</h3>
            </div>
            <div class="information">
                <h2>Information</h2>
                <h3>Event</h3>
                <h3>Contact us</h3>
                <h3>Privacy Policy</h3>
                <h3>Terms of service</h3>
            </div>
            <div class="address">
                <h2>Address</h2>
                <h3>Lima Peru</h3>
                <h3>Junior union #999</h3>
                <h3>999-888-777</h3>
                <h3>Tastyfood@email.com</h3>
            </div>
        </div>
    </section>
    
</body>
</html>