<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <Nav>
        <div class="restaurant-logo">
           Tasty 
        </div>
        <div class="navlinks">
            <ul>
                <li><a href="./Page 1.html">Home</a></li>
                <li><a href="./Page 2.html">About</a></li>
                <li><a href="./Page 3.html">Services</a></li>
                <li><a href="./Page 4.html">Menu</a></li>
                <li><a href="./Page 5.html">Contact us</a></li>
            </ul>
        </div>
    </Nav>
    <div class="page-1-body">
        <div class="left-div">
            <h1>Tasty Food</h1>
            <h3>Try the best food of the week!</h3>
            <a class="menu-button" href="#">View Menu</a>
        </div>
        <div class="right-div">
            <img src="../static/home.png" alt="food bowl">
        </div>
    </div>
    
</body>
</html>