<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Page 4</title>
</head>
<body>
    <section id ="section-4">
        <div class="special">
            <h3>special</h3>
            <h1>Menu of The Week</h1>
        </div>
        <div class="grid-container">
            <div class="flex-container">
                <div class="food-item">
                    <img src="../static/plate1.png" alt="a picture of barbecue salad">
                    <h3>Barbecue salad</h3>
                    <h5>Delicious Dish</h5>
                    <h3>$22.00</h3>
                </div>
                <div class="food-item">
                    <img src="../static/plate2.png" alt="a picture of a salad with fish">
                    <h3>Salad with Fish</h3>
                    <h5>Delicious Dish</h5>
                    <h3>$12.00</h3>
                </div>
                <div class="food-item">
                    <img src="../static/plate3.png" alt="a picture of a spinach salad">
                    <h3>Spinach salad</h3>
                    <h5>Delicious Dish</h5>
                    <h3>$22.00</h3>
                </div>
            </div>
            <div class="flex-container">
                <div class="food-item">
                    <img src="../static/plate3.png" alt="a picture of a spinach salad">
                    <h3>Spinach salad</h3>
                    <h5>Delicious Dish</h5>
                    <h3>$22.00</h3>
                </div>
                <div class="food-item">
                    <img src="../static/plate3.png" alt="a picture of a spinach salad">
                    <h3>Spinach salad</h3>
                    <h5>Delicious Dish</h5>
                    <h3>$22.00</h3>
                </div>
                <div class="food-item">
                    <img src="../static/plate3.png" alt="a picture of a spinach salad">
                    <h3>Spinach salad</h3>
                    <h5>Delicious Dish</h5>
                    <h3>$22.00</h3>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>